<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.3.0.60747 -->
    <meta charset="utf-8">
    <title>Controls</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="../style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="../style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="../style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Days+One&amp;subset=latin">


    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <script src="../script.responsive.js"></script>



<style>.art-content .art-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header">

    <div class="art-shapes">
        <div class="art-textblock art-object1069517837">
        <div class="art-object1069517837-text-container">
        <div class="art-object1069517837-text"><p>+1 800 603 6035<br></p></div>
    </div>
    
</div><div class="art-textblock art-object430727920">
        <div class="art-object430727920-text-container">
        <div class="art-object430727920-text"><p><a>mail@demolink.org</a></p></div>
    </div>
    
</div>
            </div>



<div class="art-textblock art-textblock-443742605">
        <div class="art-textblock-443742605-text-container">
        <div class="art-textblock-443742605-text">&nbsp;<a href="http://www.facebook.com/" class="art-facebook-tag-icon"></a>&nbsp;</div>
    </div>
    
</div><div class="art-textblock art-textblock-1914506182">
        <div class="art-textblock-1914506182-text-container">
        <div class="art-textblock-1914506182-text">&nbsp;<a href="https://twitter.com/" class="art-twitter-tag-icon"></a>&nbsp;</div>
    </div>
    
</div><div class="art-textblock art-textblock-348456812">
        <div class="art-textblock-348456812-text-container">
        <div class="art-textblock-348456812-text">&nbsp;<a href="http://" class="art-rss-tag-icon"></a>&nbsp;</div>
    </div>
    
</div>

<div class="art-textblock art-object936939573">
    <form class="art-search" name="Search" action="javascript:void(0)">
    <input type="text" value="">
            <input type="submit" value="Search" name="search" class="art-search-button">
    </form>
</div>
                
                    
</header>
<nav class="art-nav">
    <ul class="art-hmenu"><li><a href="../home.html" class="">Home</a></li><li><a href="../products-2.html" class="">Products</a></li><li><a href="../specials.html" class="">Specials</a></li><li><a href="../company.html" class="">Company</a></li><li><a href="../testimonials.html" class="">Testimonials</a></li><li><a href="../faq.html" class="">FAQ</a></li><li><a href="../contact-us.html" class="">Contact Us</a></li></ul> 
    </nav>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <h2 class="art-postheader">Controls</h2>
                                                <div class="art-postheadericons art-metadata-icons">
                    <span class="art-postdateicon"></span>
                     | <span class="art-postauthoricon"> <a href="#" title="Posts by Admin">Admin</a></span>
                     | <span class="art-postpdficon"></span>
                     | <span class="art-postprinticon"></span>
                     | <span class="art-postemailicon"></span>
                     | <span class="art-postediticon"></span>
                                    </div>
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <p><strong>Buttons</strong></p>
        <p><a href="#" class="art-button">Passive</a><a href="#" class="art-button hover">Hovered</a><a href="#" class="art-button active">Pressed</a></p>
        
        <p><strong>Controls</strong></p>
        <p><input type="text" style="width: 183px;" value="Input"></p>
        <p><label class="art-checkbox"><input value="" type="checkbox">Checkbox</label></p>
        <p><label class="art-radiobutton"><input value="" type="radio" name="rg">Radio button</label> <label class="art-radiobutton"><input value="" type="radio" name="rg">Radio button</label></p>
        
        <form class="art-search" name="searchform" action="javascript:void(0)" style="width: 183px;">
            <input type="text" value="Search"/>
            <a onclick="javascript:jQuery(this).parents('form').submit();" href="#" class="art-search-button"><span class="art-search-button-text">Search</span></a>
        </form>
        
        <p><strong>Pager</strong></p>
        <div class="art-pager">
            <a href="#">&laquo; Previous</a>
            <span class="active">1</span>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#" class="more">...</a>
            <a href="#">Next &raquo;</a>
        </div>
        
        <p><strong>Social icons</strong></p>
        <p>
            <a href="#" class="art-facebook-tag-icon" style="line-height: 32px;"></a>
            <a href="#" class="art-twitter-tag-icon" style="line-height: 32px;"></a>
            <a href="#" class="art-rss-tag-icon" style="line-height: 32px;"></a>
            <a href="#" class="art-tumblr-tag-icon" style="line-height: 32px;"></a>
            <a href="#" class="art-pinterest-tag-icon" style="line-height: 32px;"></a>
            <a href="#" class="art-vimeo-tag-icon" style="line-height: 32px;"></a>
            <a href="#" class="art-youtube-tag-icon" style="line-height: 32px;"></a>
            <a href="#" class="art-linkedin-tag-icon" style="line-height: 32px;"></a>
        </p>
    </div>
    </div>
</div>
</div>
                                <div class="art-postmetadatafooter">
                                        <div class="art-postfootericons art-metadata-icons">
                        <span class="art-postcategoryicon">Category: No Category</span>
                        <span class="art-posttagicon">Tags: <a href="#" title="link">link</a>, <a href="#" title="visited link" class="visited">visited</a>, <a href="#" title="hovered link" class="hover">hovered</a></span>
                         | <span class="art-postcommentsicon"><a href="#comments" title="Comments">1 Comments »</a></span>
                                            </div>
                                    </div>
                <div class="art-comments" id="comments">
<h2 class="art-postheader">Comments</h2>
<div class="art-comment art-postcontent clearfix">
    <div class="art-comment-avatar"><img src="../images/no-avatar.jpg" alt="Avatar image"></div>
    <div class="art-comment-inner">
        <div class="art-comment-header"><a href="mailto:">author</a> on 01/01/0001 00:00:00</div>
        <div class="art-comment-content">comment</div>
        <div class="art-comment-footer">
            <a href="#" class="art-button">Reply</a>
        </div>
    </div>
</div>


</div>
<div class="art-commentsform">
    <h2 class="art-postheader">Add a comment </h2>
    <form action="#" method="post" id="commentform">
        <p class="comment-form-author">
            <label for="author">Author</label>
            <input id="author" name="author" type="text" value="" size="30">
        </p>
        <p class="comment-form-email">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" value="" size="30">
        </p>
        <p class="comment-form-comment">
            <label for="comment">Comment</label>
            <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
        </p>                        
        <p class="form-submit">
        <input name="submit" class="art-button" type="submit" value="Submit comment">
        </p>
    </form>
</div>
</article></div>
                        <div class="art-layout-cell art-sidebar1"><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Shopping Cart</h3>
        </div>
        <div class="art-blockcontent"><p>$300&nbsp;<a href="http://osc.template-help.com/zencart_24467/index.php?main_page=shopping_cart">2 items</a><br></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Categories</h3>
        </div>
        <div class="art-blockcontent"><ul><li><a href="#">Abrasives</a></li><li><a href="#">Air Compressors</a></li><li><a href="#">Air Tools</a></li><li><a href="#">Renewable Energy</a></li><li><a href="#">Auto Repair</a></li><li><a href="#">Batteries, Chargers</a></li><li><a href="#">Buyer's Guides</a></li><li><a href="#">Casters</a></li><li><a href="#">Chain Saws</a></li><li><a href="#">Cleaning Equipment</a></li></ul></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Bestsellers</h3>
        </div>
        <div class="art-blockcontent"><p style="text-align: center;"><img width="130" height="140" alt="" src="../images/838165_small500-2.png" style="margin-top: 15px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;" class="art-preview-selected"><br></p>
<h4>$220</h4>
<p style="margin-top: 6px; margin-bottom: 6px;">Ridiculus velit ligula samo mauriligula la vinta.&nbsp;litora volutpat&nbsp;</p>
<p><a href="#" class="art-button">Add to Cart</a>&nbsp;&nbsp;<a href="#">More Info</a><a href="#"></a></p><p><br></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Contacts</h3>
        </div>
        <div class="art-blockcontent"><p>9870 St Vincent Place,<br></p><p>Glasgow, DC 45 Fr 45<br></p><p>Freephone: +1 800 559 6580<br>Telephone: +1 959 603 6035<br></p></div>
</div></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer">
  <div class="art-footer-inner">
<div class="art-content-layout layout-item-0">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 100%">
        <p style="text-align: center;">Home | Products | Specials | Company | Testimonials | FAQ | Contact Us<a href="#"></a></p><p style="text-align: right;"><br></p>
    </div>
    </div>
</div>

    <p class="art-page-footer">
        <span id="art-footnote-links"><a href='http://www.billionthemes.com/web_templates' target="_blank">Web Template</a> created with <a href ='http://www.artisteer.com' target="_blank">Artisteer</a>.</span>
    </p>
  </div>
</footer>

</div>


</body></html>