<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.3.0.60747 -->
    <meta charset="utf-8">
    <title>Typography</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="../style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="../style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="../style.responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Days+One&amp;subset=latin">


    <script src="../jquery.js"></script>
    <script src="../script.js"></script>
    <script src="../script.responsive.js"></script>



<style>.art-content .art-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header">

    <div class="art-shapes">
        <div class="art-textblock art-object1069517837">
        <div class="art-object1069517837-text-container">
        <div class="art-object1069517837-text"><p>+1 800 603 6035<br></p></div>
    </div>
    
</div><div class="art-textblock art-object430727920">
        <div class="art-object430727920-text-container">
        <div class="art-object430727920-text"><p><a>mail@demolink.org</a></p></div>
    </div>
    
</div>
            </div>



<div class="art-textblock art-textblock-443742605">
        <div class="art-textblock-443742605-text-container">
        <div class="art-textblock-443742605-text">&nbsp;<a href="http://www.facebook.com/" class="art-facebook-tag-icon"></a>&nbsp;</div>
    </div>
    
</div><div class="art-textblock art-textblock-1914506182">
        <div class="art-textblock-1914506182-text-container">
        <div class="art-textblock-1914506182-text">&nbsp;<a href="https://twitter.com/" class="art-twitter-tag-icon"></a>&nbsp;</div>
    </div>
    
</div><div class="art-textblock art-textblock-348456812">
        <div class="art-textblock-348456812-text-container">
        <div class="art-textblock-348456812-text">&nbsp;<a href="http://" class="art-rss-tag-icon"></a>&nbsp;</div>
    </div>
    
</div>

<div class="art-textblock art-object936939573">
    <form class="art-search" name="Search" action="javascript:void(0)">
    <input type="text" value="">
            <input type="submit" value="Search" name="search" class="art-search-button">
    </form>
</div>
                
                    
</header>
<nav class="art-nav">
    <ul class="art-hmenu"><li><a href="../home.html" class="">Home</a></li><li><a href="../products-2.html" class="">Products</a></li><li><a href="../specials.html" class="">Specials</a></li><li><a href="../company.html" class="">Company</a></li><li><a href="../testimonials.html" class="">Testimonials</a></li><li><a href="../faq.html" class="">FAQ</a></li><li><a href="../contact-us.html" class="">Contact Us</a></li></ul> 
    </nav>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <h2 class="art-postheader">
      Text, <a href="#">Link</a>, <a class="visited" href="#\">Visited</a>, <a class="hovered" href="#">Hovered</a></h2>
                                                <div class="art-postheadericons art-metadata-icons">
                    <span class="art-postdateicon"></span>
                     | <span class="art-postauthoricon"> <a href="#" title="Posts by Admin">Admin</a></span>
                     | <span class="art-postpdficon"></span>
                     | <span class="art-postprinticon"></span>
                     | <span class="art-postemailicon"></span>
                     | <span class="art-postediticon"></span>
                                    </div>
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <div class="image-caption-wrapper" style="width: 50%; float: left">
            <img alt="an-image" style="width: 100%; max-width:360px" class="art-lightbox" src="../images/shutterstock_62287657-01-3.jpg" />
        </div>
        
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
            
        <p class="clearfix">Lorem ipsum <a href="#" title="link">link</a>, <a class="visited" href="#" title="visited link">visited link</a>,
         <a class="hover" href="#" title="hovered link">hovered link</a> dolor amet, consectetuer adipiscing
                <sup>superscript</sup> elit <sub>subscript</sub>. Nullam dignissim convallis est.
                Quisque aliquam. <cite>cite</cite>. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
                Donec sed tellus eget sapien fringilla nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a
                ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.<!--CUT-->
                <abbr title="Avenue">AVE</abbr>
        </p>
        <blockquote>
            “This stylesheet is going to help so freaking much.”<br/>
            -Blockquote
        </blockquote>
        
        <p><strong>List</strong></p>
        <ul>
            <li>List Item 1</li>
            <li>List Item 2</li>
            <li>List Item 3</li>
        </ul>
        
        <p><strong>Table</strong></p>
        <table class="art-article">
          <tbody>
            <tr>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
            <tr>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
            <tr class="even">
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
            <tr>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
</div>
</div>
                                <div class="art-postmetadatafooter">
                                        <div class="art-postfootericons art-metadata-icons">
                        <span class="art-postcategoryicon">Category: No Category</span>
                        <span class="art-posttagicon">Tags: <a href="#" title="link">link</a>, <a href="#" title="visited link" class="visited">visited</a>, <a href="#" title="hovered link" class="hover">hovered</a></span>
                         | <span class="art-postcommentsicon"><a href="#comments" title="Comments">1 Comments »</a></span>
                                            </div>
                                    </div>
                

</article></div>
                        <div class="art-layout-cell art-sidebar1"><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Shopping Cart</h3>
        </div>
        <div class="art-blockcontent"><p>$300&nbsp;<a href="http://osc.template-help.com/zencart_24467/index.php?main_page=shopping_cart">2 items</a><br></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Categories</h3>
        </div>
        <div class="art-blockcontent"><ul><li><a href="#">Abrasives</a></li><li><a href="#">Air Compressors</a></li><li><a href="#">Air Tools</a></li><li><a href="#">Renewable Energy</a></li><li><a href="#">Auto Repair</a></li><li><a href="#">Batteries, Chargers</a></li><li><a href="#">Buyer's Guides</a></li><li><a href="#">Casters</a></li><li><a href="#">Chain Saws</a></li><li><a href="#">Cleaning Equipment</a></li></ul></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Bestsellers</h3>
        </div>
        <div class="art-blockcontent"><p style="text-align: center;"><img width="130" height="140" alt="" src="../images/838165_small500-2.png" style="margin-top: 15px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;" class="art-preview-selected"><br></p>
<h4>$220</h4>
<p style="margin-top: 6px; margin-bottom: 6px;">Ridiculus velit ligula samo mauriligula la vinta.&nbsp;litora volutpat&nbsp;</p>
<p><a href="#" class="art-button">Add to Cart</a>&nbsp;&nbsp;<a href="#">More Info</a><a href="#"></a></p><p><br></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Contacts</h3>
        </div>
        <div class="art-blockcontent"><p>9870 St Vincent Place,<br></p><p>Glasgow, DC 45 Fr 45<br></p><p>Freephone: +1 800 559 6580<br>Telephone: +1 959 603 6035<br></p></div>
</div></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer">
  <div class="art-footer-inner">
<div class="art-content-layout layout-item-0">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 100%">
        <p style="text-align: center;">Home | Products | Specials | Company | Testimonials | FAQ | Contact Us<a href="#"></a></p><p style="text-align: right;"><br></p>
    </div>
    </div>
</div>

    <p class="art-page-footer">
        <span id="art-footnote-links"><a href='http://www.billionthemes.com/web_templates' target="_blank">Web Template</a> created with <a href ='http://www.artisteer.com' target="_blank">Artisteer</a>.</span>
    </p>
  </div>
</footer>

</div>


</body></html>