{% extends "::base.html.twig" %}

{% block title %}wdf!{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('Public/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('style.ie7.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('style.responsive.css') }}" rel="stylesheet" type="text/css" />


{% endblock %}
{% block body %}
<div id="art-main">
    hola.
</div>

{% endblock %}
